---
import Layout from '@layouts/Layout.astro';
---

<Layout title="Welcome to Astro." template="error">
	<main>
		<h1>404</h1>
    <p>Tu t'es trompé la gâtée !</p>
	</main>
</Layout>

<style>
  main {
    text-align: center;
  }
  h1 {
    font-size: 20rem;
  }
</style>
