---
import Layout from '@layouts/Layout.astro';
---

<Layout title="Page de contact" template="contact">
  <main>
    <h1>Page de Contact titre</h1>
  </main>
</Layout>

<style>
  h1 {
    font-size: 10rem;
  }
</style>