// @function str-replace($string, $search, $replace: '') {
//   $index: str-index($string, $search);

//   @if $index {
//     @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
//   }

//   @return $string;
// }

@mixin selector($selector, $mq) {
  $new-sel: str-insert($selector, $mq + '-', 2);
  $new-sel-mob: str-insert($selector, '-', 2);
  $placeholder: str-replace($selector, '.', '%');

  // $placeholder: str-replace($placeholder, '-', '_');
  $sel: '#{$new-sel}';

  @if $mq == 'sm' {
    $sel: '#{$selector}, #{$new-sel}';
  }

  @if $mq == '-sm' {
    $sel: '#{$new-sel-mob}, #{$new-sel}';
  }

  #{$sel} {
    @content;
  }
}